*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Deployment Scripts
deploy.sh

secrets/

# Database
/database/*.sqlite
/database/*.sqlite-journal

cloudflared.deb
github_deploy_key
github_deploy_key.pub
docker/osrm/*.osm
docker/osrm/*.osrm*

/docs/
